In [7]:
import pandas as pd
# add_url='C:/Users/SAMSUNG/Desktop/DataAnalysis/my_projects/02_semi_project2/'
Data=pd.read_excel("C:/Users/hanjieun_2/Desktop/데이터분석/공동작업소/세미_프로젝트2/숙박2.xlsx")
data=pd.DataFrame(Data)

In [11]:
data

     Unnamed: 0 place_name                 address_name
0             0    하니크라운호텔        제주특별자치도 제주시 이도일동 1315
1             1  제주썬호텔&카지노        제주특별자치도 제주시 연동 291-30
2             2     제주로얄호텔        제주특별자치도 제주시 연동 272-34
3             3    제주팔레스호텔     제주특별자치도 제주시 삼도2동 1192-18
4             4     펄호텔 제주         제주특별자치도 제주시 연동 277-1
..          ...        ...                          ...
812         812     바이더힐펜션  제주특별자치도 제주시 애월읍 유수암리 2049-1
813         813     제주담스파빌   제주특별자치도 제주시 한림읍 금능리 1803-2
814         814   소서제주 745   제주특별자치도 제주시 애월읍 유수암리 719-9
815         815      브라운캐빈     제주특별자치도 제주시 애월읍 상가리 54-2
816         816   블루하와이리조트     제주특별자치도 제주시 한림읍 금능리 2005

[817 rows x 3 columns]

In [18]:
data.drop('Unnamed: 0',axis=1, inplace=True)

In [26]:
data.rename(columns = {'place_name':'제목', 'address_name': '지번주소'}, inplace=True)

In [27]:
data

            제목                         지번주소
0      하니크라운호텔        제주특별자치도 제주시 이도일동 1315
1    제주썬호텔&카지노        제주특별자치도 제주시 연동 291-30
2       제주로얄호텔        제주특별자치도 제주시 연동 272-34
3      제주팔레스호텔     제주특별자치도 제주시 삼도2동 1192-18
4       펄호텔 제주         제주특별자치도 제주시 연동 277-1
..         ...                          ...
812     바이더힐펜션  제주특별자치도 제주시 애월읍 유수암리 2049-1
813     제주담스파빌   제주특별자치도 제주시 한림읍 금능리 1803-2
814   소서제주 745   제주특별자치도 제주시 애월읍 유수암리 719-9
815      브라운캐빈     제주특별자치도 제주시 애월읍 상가리 54-2
816   블루하와이리조트     제주특별자치도 제주시 한림읍 금능리 2005

[817 rows x 2 columns]

In [21]:
Data2=pd.read_excel("C:/Users/hanjieun_2/Desktop/데이터분석/공동작업소/세미_프로젝트2/숙박3-1.xlsx")
add_data=pd.DataFrame(Data2)
add_data.drop(columns=add_data.columns[:2],inplace=True)
add_data.rename(columns=dict(zip(add_data.columns,["제목","지번주소"])),inplace=True)

In [22]:
add_data

            제목                         지번주소
0      하니크라운호텔        제주특별자치도 제주시 이도일동 1315
1    제주썬호텔&카지노        제주특별자치도 제주시 연동 291-30
2       제주로얄호텔        제주특별자치도 제주시 연동 272-34
3      제주팔레스호텔     제주특별자치도 제주시 삼도2동 1192-18
4       펄호텔 제주         제주특별자치도 제주시 연동 277-1
..         ...                          ...
789     바이더힐펜션  제주특별자치도 제주시 애월읍 유수암리 2049-1
790     제주담스파빌   제주특별자치도 제주시 한림읍 금능리 1803-2
791   소서제주 745   제주특별자치도 제주시 애월읍 유수암리 719-9
792      브라운캐빈     제주특별자치도 제주시 애월읍 상가리 54-2
793   블루하와이리조트     제주특별자치도 제주시 한림읍 금능리 2005

[794 rows x 2 columns]

In [31]:
for name in add_data['제목']:
    if name in data["제목"]:
        print(name)

In [32]:
for name in add_data['지번주소']:
    if name in data["지번주소"]:
        print(name)

> 겹치는게 없다..

In [ ]:
data=pd.merge(data,add_data,how="outer")

### 데이터 전처리
>제주도 주소가 아닌 곳을 제외

In [219]:
data=data[data["지번주소"].str.find("제주특별")!=-1]
data.drop(columns="Unnamed: 0",inplace=True)

> 진짜 고생했네 ㅜㅜㅋㅋ

In [220]:
행정구역 = {'구좌':'구좌',
  '조천':'조천', 
  '화북': '동제주','봉개':'동제주', '회천':'동제주','용강':'동제주',
  '오라':'중제주','아라':'중제주','오등':'중제주','화북':'중제주','이도':'중제주','건입':'중제주','삼도':'중제주','용담':'중제주','일도':'중제주', 
  '도두':'서제주','이호':'서제주','외도':'서제주','내도':'서제주','도평':'서제주','노형':'서제주','연동':'서제주','강정':'서제주','도순':'서제주',
  '영남':'서제주','월평':'서제주','해안':'서제주', '노형':'서제주',
  '애월' :'애월',
  '성산':'성산',
  '한림':'한림',
  '표선':'표선',
  '남원':'남원',
  '한경':'한경',
  '안덕':'안덕',
  '영천':'동서귀','동흥':'동서귀','효돈':'동서귀','송산':'동서귀','신효':'동서귀','하효':'동서귀','서귀':'동서귀','보목':'동서귀','동홍':'동서귀',
  '대천':'중서귀','대륜':'중서귀','서홍':'중서귀', '강정':'중서귀','법환':'중서귀','서호':'중서귀','호근':'중서귀',
  '여래':'서서귀','중문':'서서귀','회수':'서서귀', '하원':'서서귀','대포':'서서귀', '색달':'서서귀', '하예':'서서귀', '상예':'서서귀',  
  '대정':'대정'}

In [ ]:
# 지번주소
error=[]
for i in data.index:
    for x in 행정구역:
        try:
            if data.loc[i]['지번주소'].find(x)!=-1:
                data.loc[i,"행정구역"]=행정구역[x]
        except:
            error.append(i)
            print(data.loc[i]['지번주소'])

In [222]:
# 도로명주소
for i in data[data["행정구역"].isna()].index:
    for x in 행정구역:
        try:
            if data.loc[i]['지번주소'].find(x)!=-1:
                data.loc[i,"행정구역"]=행정구역[x]
        except:
            error.append(i)
            #print(data.loc[i]['지번주소'])

### 시각화 작업

In [223]:
from IPython.display import SVG
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import os

#### 행정구역별

In [181]:
colors = ['#ffeecc', '#ffd480', '#ffbb33', '#ffaa00', '#e69900']

#### histogram 을 이용한 구간 설정
> 좀더 상세히 혹은 덜 나눠야 보기 좋을듯

In [182]:
color_rule=pd.DataFrame(data["행정구역"].value_counts())

In [183]:
x,y=np.histogram(data["행정구역"].value_counts().values,bins=5)

In [184]:
dc=dict(zip(y[:-1],colors))

In [185]:
for name in color_rule.index:
    for i in y[:-1]:
        if color_rule.loc[name]['count']>=i:
            color_rule.loc[name,'color_id']=i

In [186]:
dc[color_rule.loc["동서귀",'color_id']]

'#e69900'

색상 입히기

In [247]:
color_rule

      count  color_id
행정구역
동서귀     576     461.8
서제주     235     233.4
애월      202     119.2
중제주     162     119.2
서서귀     149     119.2
구좌      145     119.2
한림      116       5.0
조천       90       5.0
중서귀      88       5.0
대정       49       5.0
한경       46       5.0
동제주       5       5.0

In [239]:
with open("./제주.svg","r",encoding="utf-8") as f:
    jeju_map=f.readlines()

In [248]:
for name in color_rule.index:
    idx=[]
    for i in range(len(jeju_map)):
        if name in jeju_map[i]:
            idx.append(i)
    for j in map(lambda x:x+1,idx):
        jeju_map[j]=jeju_map[j].replace("#eeeeee",dc[color_rule.loc[name]["color_id"]])

In [251]:
with open("호텔시각화test.html","w") as f:
    for line in jeju_map:
        f.write(line)