### Series 자료형

# 01. Pandas 패키지
1) Pandas가 사용되는 경우
- SQL, Excel과 같이 열이 있는 테이블 형식
- 시계열 데이터
- 행렬 데이터
- 일반적인 통계 데이터 세트

2) Pandas 데이터 구조
- 1차원 = Series
- 2차원 = DataFrame

3) Pandas설치
from pandas import Series

In [1]:
# 1. Pandas설치하기
from pandas import Series

In [2]:
# 2. Series 자료형
items = [10,30,50,70,90]
column = Series(items)
column

0    10
1    30
2    50
3    70
4    90
dtype: int64

In [3]:
print(column[0])
print(column[2])
print(column[4])

10
50
90

In [4]:
# seires 값만 추출
column.values

array([10, 30, 50, 70, 90], dtype=int64)

In [5]:
# 값에 대한 데이터 타입 확인
type(column.values)

numpy.ndarray

In [6]:
# list로 변환
mylist = list(column.values)
mylist

[10, 30, 50, 70, 90]

In [7]:
# index만 추출
column.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
# index의 데이터 타입 확인
type(column.index)

pandas.core.indexes.range.RangeIndex

In [9]:
# index를 리스트로 변환
mylist = list(column.index)
mylist

[0, 1, 2, 3, 4]

In [10]:
# 조건 검색 : 이름[조건식]
in1 = column[column > 30]
in1

2    50
3    70
4    90
dtype: int64

In [11]:
#   and검색
in2 = column[column<=70][column>10]
in2

1    30
2    50
3    70
dtype: int64

In [12]:
#   or검색
in3 = column[(column<=10) | (column >= 70)]
in3

0    10
3    70
4    90
dtype: int64

In [13]:
# series 연산
# 1) 인덱스를 직접 지정하면서 시리즈 만들기
week1 = Series([290000, 310000], index=['sat', 'sun'])
week1

sat    290000
sun    310000
dtype: int64

In [14]:
week2 = Series([120000, 220000], index=['sun', 'sat'])
week2

sun    120000
sat    220000
dtype: int64

In [15]:
merge = week1 + week2
merge

sat    510000
sun    430000
dtype: int64