DataFrame 내보내기

패키지 참조

In [1]:
from pandas import read_excel

데이터 가져오기

In [2]:
df = read_excel(r"C:\Users\한지은\OneDrive\바탕 화면\데이터분석\C. 데이터_다루기\01. Pandas 자료형\grade.xlsx",index_col='이름')
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

데이터 내보내기 (데이터프레임 => .xlsx or .csv)

1) 엑셀파일로 내보내기

In [3]:
# 원본 파일 그대로 저장하기
df.to_excel("1.xlsx")

In [4]:
# 파라미터 설정 
# 1) 인덱스를 포함하는 경우 (파일이름, 인덱스 포함여부(기본값=True), 인덱스 필드 제목(기본값:빈칸))
df.to_excel("2.xlsx", index=True, index_label="이름")

# 2) 인덱스를 포함하지 않는 경우 (파일이름, 인덱스 포함여부(기본값=True), 칼럼명, 칼럼의 제목)
df.to_excel("3.xlsx", index=False, columns=['학년','성별','국어'], header=['level','sex','kor'])

2. csv파일로 내보내기

In [5]:
# 원본 파일 그대로 저장하기
df.to_csv("1.csv", encoding='utf-8')

In [6]:
# 파라미터 설정
# 1) 인덱스를 포함하는 경우
df.to_csv("2.csv", index=True, index_label="이름")

# 2) 인덱스를 포함하지 않는 경우
df.to_csv("3.csv", index=False, columns=['학년','국어','성별'], header=['level','kor','sex'])

실습 결과물 모두 삭제

In [ ]:
import os
import glob as gl

list1 = gl.glob("*.xlsx")
list2 = gl.glob("*.csv")
list3 = list1 + list2

for items in list3:
    os.remove(items)
    print("%s가 삭제됨" % items)