In [1]:
import pandas as pd
import numpy as np

아래 코딩을 음식점,관광지에 동일 적용

숙박
------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 8422 entries, 0 to 8500
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8422 non-null   int64
 1   콘텐츠분류       8422 non-null   object
 2   타이틀         8302 non-null   object
 3   지번주소        8422 non-null   object
 4   도로명주소       8422 non-null   object
 5   위도          8382 non-null   float64
 6   경도          8382 non-null   float64
 7   탐나오연동여부     8421 non-null   object
 8   평점          7715 non-null   float64
 9   소셜네트워크주소    1453 non-null   object
 10  조회수         8422 non-null   int64
 11  좋아요수        8422 non-null   int64
 12  리뷰수         8422 non-null   int64
 13  북마크수        8422 non-null   int64
 14  일정등록수       8422 non-null   int64
 15  다녀왔어요수      8422 non-null   int64
 16  등록일시        8422 non-null   datetime64[ns]
 17  소셜네트워크공유수   8422 non-null   int64
 18  인기점수        8379 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(8), object(6)
memory usage: 1.3+ MB
None
------------------------------
음식점
------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 24236 entries, 0 to 24969
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24236 non-null  int64
 1   콘텐츠분류       24236 non-null  object
 2   타이틀         24116 non-null  object
 3   지번주소        24236 non-null  object
 4   도로명주소       24236 non-null  object
 5   위도          24185 non-null  float64
 6   경도          24185 non-null  float64
 7   탐나오연동여부     24236 non-null  object
 8   평점          23742 non-null  float64
 9   소셜네트워크주소    4802 non-null   object
 10  조회수         24236 non-null  int64
 11  좋아요수        24236 non-null  int64
 12  리뷰수         24236 non-null  int64
 13  북마크수        24236 non-null  int64
 14  일정등록수       24236 non-null  int64
 15  다녀왔어요수      24236 non-null  int64
 16  등록일시        24236 non-null  datetime64[ns]
 17  소셜네트워크공유수   24236 non-null  int64
 18  인기점수        24169 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(8), object(6)
memory usage: 3.7+ MB
None
------------------------------
관광지
------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 11320 entries, 0 to 11520
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11320 non-null  int64
 1   콘텐츠분류       11320 non-null  object
 2   타이틀         11163 non-null  object
 3   지번주소        11320 non-null  object
 4   도로명주소       11320 non-null  object
 5   위도          11200 non-null  float64
 6   경도          11200 non-null  float64
 7   탐나오연동여부     11320 non-null  object
 8   평점          10939 non-null  float64
 9   소셜네트워크주소    875 non-null    object
 10  조회수         11320 non-null  int64
 11  좋아요수        11320 non-null  int64
 12  리뷰수         11320 non-null  int64
 13  북마크수        11320 non-null  int64
 14  일정등록수       11320 non-null  int64
 15  다녀왔어요수      11320 non-null  int64
 16  등록일시        11320 non-null  datetime64[ns]
 17  소셜네트워크공유수   11320 non-null  int64
 18  인기점수        11197 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(8), object(6)
memory usage: 1.7+ MB
None
------------------------------

숙박
Nan개수 :  120
------------------------------
음식점
Nan개수 :  120
------------------------------
관광지
Nan개수 :  157
------------------------------