In [2]:
import pandas as pd

In [3]:
D=pd.read_excel("./주소.xlsx")

In [8]:
data=pd.DataFrame(D)

In [9]:
for i in data.index:
    try:
        n=data.loc[i][0].find("!3d")
        m=data.loc[i][0].find("!4d")
        t=data.loc[i][0].rfind("!")
        data.loc[i][0]=(data.loc[i][0][n+3:m],data.loc[i][0][m+3:t])
    except:
        continue

In [10]:
data

              Unnamed: 0                                                  0
0                    공천포  (tps://www.google.co.kr/maps/search/%EA%B3%B5%...
1                  제주민속촌                            (33.322511, 126.841868)
2                 제주빅볼랜드                          (33.3892232, 126.3780046)
3           마오름(맞보기)(안덕)  (tps://www.google.co.kr/maps/search/%EB%A7%88%...
4    과오름(큰오름, 샛오름, 말젯오름)  (tps://www.google.co.kr/maps/search/%EA%B3%BC%...
..                   ...                                                ...
415          남원 위미2리 어촌계                          (33.2748754, 126.6694963)
416                  팀케이  (tps://www.google.co.kr/maps/search/%ED%8C%80%...
417           제주소주 코스모스밭                          (33.5167884, 126.5346988)
418                 신엄포구                           (33.4736668, 126.351791)
419                삼양방파제                          (33.5250031, 126.5769008)

[420 rows x 2 columns]